@import url('/css/reset.css');


$primaryColor: #000;
$secondColor: #fff;
$accentColor: #696969;

$primaryFontsize: 24px;
$secondFontsize: 18px;

$primaryLineheight: 28px;
$secondLineheight:21px;

$fontFamily: 'Roboto', sans-serif;



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $primaryColor;
    font-size: $primaryFontsize;
    line-height: $primaryLineheight;
    font-family: 'Roboto', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: calc(100%/3);
    height: 44px;
    font-size: $secondFontsize;
    line-height: $secondLineheight;
    text-transform: capitalize;


    &:hover {
        background-color: $primaryColor;
        color: $secondColor;
    }

    &__details {
        border-left: 1px solid #000;
        left: 99px;
    }

    &__forecast {
        border-left: 1px solid #000;
        right: 0;
    }
}

.weather {
    border: 1px solid;
    width: 599px;
    height: 434px;

    &__wrapper {
        display: flex;
    }
}

.search {
    display: flex;
    position: relative;
    border-style: solid;
    border-width: 0 0 1px 0;
    // .search__input

    &__input {
        width: 100%;
        height: 45px;
        padding-left: 16px;
        padding-right: 50px;
        font-family: $fontFamily;
        font-size: $secondFontsize;
        line-height: $secondLineheight;
        border: none;
        outline: none;
        color: $accentColor;
    
    }


    // .search__icon

    &__icon {
        position: absolute;
        top: 7px;
        right: 17px;
        pointer-events: none;

    }
}

.display {
    width: 297px;
    height: 386px;
    border-style: solid;
    border-width: 0 1px 0 0;
    position: relative;


        &__input {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            
        
        }

        &__now {

            display: none;
            border-bottom: 1px solid black;
        }
        
        &__details {

            display: none;
            border-bottom: 1px solid black;

        }

        &__forecast {

            display: none;
            border-bottom: 1px solid black;
            overflow: auto;
            height: 341px;

            &-text {
                margin-top: 33px;
                margin-bottom: 7px;
                margin-left: 18px;
            }

            &-blocks {
                display: flex;
                flex-direction: column;
            }
            &-block {
                margin-left: 18px;
                margin-right: 16px;
                border: 1px solid #000000;
                & + & {
                    margin-top: 9px;
                }

                &:last-child {
                    margin-bottom: 9px;
                }
            }

        }

        &__block-wrapper {
            display: flex;
            justify-content: space-between;
            }

        &__left-side {
             padding-left: 10px;
            }    

        

		// .display__temp

	&__temp {
        padding-top: 20px;
        margin-left: 23px;
        font-size: 70px;
        line-height: 82px;
	}

    &__icon {
        margin-top: 40px;
        margin-left: 112px;
    }


		// .display__city-like

	&__city-like {
        display: flex;
        justify-content: space-between;
        margin-top: 98px;
        padding-left: 12px;
        padding-right: 26px;
        padding-bottom: 8px;

	}
    
    &__header-city {
        padding-top: 33px;
        padding-left: 18px;

    }
    &__details-list {
        padding-top: 42px;
        padding-left: 15px;
        padding-bottom: 42px;
    }

    &__details-item {
        & + & {
            padding-top: 14px;
        }
    }

}

.weather__date {
    font-size: 18px;
    line-height: 21px;
    padding-top: 6px;
  }

.weather__tempetarute {
    margin-top: 38px;
    font-size: 18px;
    line-height: 21px;
  }
.weather__feel {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 13px;
  }
.weather__right-side {
    padding-right: 12px;
  }
.weather__time {
    font-size: 18px;
    line-height: 21px;
    padding-top: 6px;
  }
.weather__types {
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
.weather__type {
    font-size: 18px;
    line-height: 21px;
  }

#button-now:checked + label,
#button-details:checked + label,
#button-forecast:checked + label {
    background-color: $primaryColor;
    color: $secondColor;
}

#button-now:checked ~ .display__now,
#button-details:checked ~ .display__details,
#button-forecast:checked ~ .display__forecast {
    display: block;
}







